/* Reset and Base Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;
}

/* Card Styles */
.card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.card-header {
    background-image: linear-gradient(to right top, #8b49dc, #7a3cc7);
    color: #fff;
    text-align: center;
    padding: 20px;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 10px 10px 0 0;
}

.card-body {
    padding: 30px;
}

/* List Styles */
.list-group-item {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 15px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.list-group-item h5 {
    margin-bottom: 5px;
    font-size: 1.2rem;
    font-weight: bold;
}

.list-group-item p {
    margin-bottom: 10px;
    font-size: 1rem;
}

/* Button Styles */
.btn-info {
    background-color: #17a2b8;
    border: none;
}

.btn-info:hover {
    background-color: #138496;
}

.btn-primary {
    background-image: linear-gradient(to right top, #8b49dc, #7a3cc7);
    border: none;
}

.btn-primary:hover {
    background-image: linear-gradient(to right top, #7a3cc7, #6a2fb3);
}

.btn-danger {
    background-color: #dc3545;
    border: none;
}

.btn-danger:hover {
    background-color: #c82333;
}

.btn-secondary {
    background-color: #6c757d;
}

.btn-secondary:hover {
    background-color: #5a6268;
}
.btn-warning {
    background-color: #FFCA2C;
    color: #fff; /* Set text color to white */
    border: none;
}

.btn-warning:hover {
    background-color: #fabc04;
}
